*{
    padding: 0;
    margin: 0;
}

.bejegyzesfejlec{
    margin:auto;
   
}

.bejegyzesfejlec h1{
     margin-bottom: 15px;
     text-align: center;
}

.bejegyzesfejlec img{
    max-width: 350px;
    margin-left: auto; /*Középre igazitás*/
    margin-right: auto; /*Középre igazitás*/
    display: block; /*Középre igazitás*/
   
}

#bejegyzesszoveg{
    text-align: justify;
    font-size:18px;
    font-family: "Lucida Console" "Courier New";
    margin-top:15px;
    text-align: center;
}

img{
    float:center;
}

h1{
    font-weight: bold;
    font-family: "Lucida Console" "Courier New";
}

#hozzavalok li{
list-style-type: none;
font-style: italic;
}

span{
line-height: 150%;

}